* { font-family:"meiryo","メイリオ","ＭＳ Ｐゴシック",sans-serif; }

body{
      color:#333;
   background-color: #fff;  /*  全体の背景色  */
   margin:0;
   font-size:16px;
   line-height:26px;
   font-family:"meiryo","メイリオ","ＭＳ Ｐゴシック",sans-serif;
}
a:link{color:#0066cc;}
a:visited{color:#0066cc;}
a:hover{color:#ff3300;
transition: 0.3s;}

/*  記事部分とサイドバー  */
.content-wrapper{
   width: 1010px;  /*  記事部分　サイドバーの横幅  */
   margin-right: auto;
   margin-left: auto;
}
/*   リンク
----------------------------------------------- */
a:link {
   text-decoration:none;
}
a:hover {
   text-decoration:underline;
}
/*   引用
--------------------------------------------- */
blockquote {
   background-color: #ffffff;
   background-image: url(https://lh5.googleusercontent.com/-AYq9ZKAds08/VP_R7s0rw-I/AAAAAAAAABg/HDH1fw3jQN0/s24-no/bq24.png);
   background-repeat: no-repeat;
   background-position: left top;
   padding:30px 0 10px 10px;
   margin-left:15px;
   border-left:1px solid #ccc;
}
/*   記事のフォント
----------------------------------------------- */
.main-outer h1{
   font-size:1.3em;
   font-family:"meiryo","メイリオ","ＭＳ Ｐゴシック",sans-serif;
background-color: rgba(0,100,255,0.7);
   color:#fff;
   padding:10px;
   margin:-11px;
}
.entry-content h2{
   background-color: #fafafa;
   margin-top:10px;
   margin-bottom:1px;
   font-size:1.2em;
   padding:15px 10px;
   border-left:10px solid rgba(255,117,0,0.7);
   font-family:"meiryo","メイリオ","ＭＳ Ｐゴシック",sans-serif;
}
.entry-content h3{
   font-size:1.3em;
   padding-bottom:10px;
   padding-left:10px;
   font-family:"meiryo","メイリオ","ＭＳ Ｐゴシック",sans-serif;
}
.main-outer p{
   font-size:16px;
   line-height:26px;
   padding-bottom:24px;
}
/*  画像や動画の最適化  */
iframe{
max-width:100%;
}
img{
max-width:100%;
}
/*   ヘッダー 
--------------------------------------- */
.header {
margin: 0 auto; 

   width:1010px;
}
.header-outer {
background: #FFFFFF;

}
/*   ブログタイトル   
---------------------------------------- */
.header h1{
   font-size:26px;
   margin-top:0;
   margin-bottom:0;
}
.header-title a{
   font-size:26px;
   font-weight:700;

   color:#000000;
   margin-top:5px;
}

.header-title a:visited{
   color:#000000;
}
/*   ブログ説明   */
.header-description p{
   font-size:13px;
   margin-top:5px;
}
/*   ヘッダーナビゲーション 
------------------------------------------- */
ul.header-nav{
   text-align:center;
   padding:0 0 0 5px;
}
.header-nav li{
   float:left;
   display:inline;
   border-left:1px solid #fff;
   padding:0 10px;
   margin-bottom:10px;
   font-size:14px;
}
.header-nav a{
   color:#000000;

}
.header-nav a:hover{
   color:#ff8c00;
}
/*   記事ページ
-------------------------------------------- */
.main-outer{
   float:left;
   width:680px;
   background:#ffffff;


}
#main{
   margin:0;
}

.post-outer{
background-color:#ffffff;
   padding:10px;
margin-top:20px;
margin-bottom:-10px;
 outline:1px solid #dadada;
line-height: 1.8em;
  }
.post-outer img{  
   max-width:100%;　　/* 記事内の画像をはみ出させない */
   height:auto;
}
/*  記事ページのリストタグのデザイン  */
.post-outer ul {
	list-style-type: disc;
	padding:20px;
	margin-bottom: 20px;
}
.post-outer ol {
	list-style-type: decimal;
	padding:20px;
	margin-bottom: 20px;
}
/*　記事ページの公開日 カテゴリ名 */
p.kousin{
   font-size:1em;
}
.kousin a{
   margin-left:5px;
   font-size:1em;
}
/*   トップページ、カテゴリ、アーカイブの記事一覧
--------------------------------------------------------- */
.article-list{
   float:none;
   height:150px;
overflow: hidden;
position: relative;
}
.article-list img{


position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
overflow: hidden;
}
.article-thumbnail {
   float:left;

overflow: hidden;
position: relative;
width:150px;
   height:150px;
background-color:rgba(0,100,255,0.1);
}
/*  記事一覧のタイトル  */
.article-list img:hover{
   opacity:0.7;transition: 0.3s;
}
.article-list-title{
   padding-left:160px;
line-height: 150%;
   width:auto;

}
.article-list-title a{
   font-size:0.7em;
   color:#333;
 height             : 95px;
    overflow: hidden;
display: block;
}
.article-list-title a:hover{
   color:#ff8c00;

transition: 0.3s;
}
/*記事一覧の公開日、カテゴリ名  */
a.article-label{
   font-size:12px;
   color:#136889;
   float:left;
   margin-left:3px;
  line-height: 100%;
}
.article-list-title p{
   font-size:12px;
   padding:0;
   float:left;
  line-height: 100%;
}


.date-header{
    font-size: 0.8em;
text-align: right;
   float:left;
display: block;
   width:100%;
   margin-top:-20px;
}

#AdSense2{

   margin-top:20px;
}

/*   パンくずリスト  
--------------------------------------- */  
.breadcrumb-wrapper { 
   margin:10px 0 30px 5px;
}
.breadcrumb {
   padding:0 0 0 10px;
}
.breadcrumb a {
   color:#333;
   font-size:13px;

}
.breadcrumb li {
   display: inline;
   list-style-type: none;
}
.breadcrumb  li:after {
   content: " > ";
}
/*   関連記事 
-------------------------------------- */
#related-posts{
   float:left;
   width:auto;
}
#related-posts a{
   border-right: 1px dotted #eaeaea;
   color:#666;
   transition:0.3s;
}
#related-posts a:hover{
   color:#fff;
   background:#ff8c00;
}
#related-posts h2{
   margin-top: 10px;
   background:none;
   font-size:18px;
   color:#999999;
}
#related-posts .related_img {
   margin:5px;
   border:2px solid #fff;
   width:120px;
   height:120px;
   transition:all 300ms ease-in-out; 
   border-radius: 5px; 
}
#related-title {
   padding: 0px 5px 10px;
   font-size:12px;
   width:120px;
   height: 40px;
  line-height: 1em;
}
#related-posts .related_img:hover{
   border:2px solid #E8E8E8;
   opacity:.7;
   filter:alpha(opacity=70);
transition: 0.5s;
}
/*    ページナビゲーション
------------------------------------------------ */
.blog-pager {
   background: none;
}
#blog-pager a,.showpageOf,.pagecurrent{
   font-size: 0.9em;
   border-bottom:3px solid #dedede;
   padding:10px;
   color: #666; 
   background-color:#fff;
  line-height: 350%;
}
#blog-pager a:hover{
   text-decoration:none;
   color:#666;
   border-bottom:3px solid #55acee;

transition: 0.3s;
}
#blog-pager .pagecurrent{
   font-weight:bold;
   color: #666;
   border-bottom:3px solid #55acee;
}
#blog-pager .pages{border:none;}
/*   前の投稿 次の投稿
--------------------------------------*/
span.order-pagelink{
float:left;
}
span.next-pagelink{
float:right;
}
/*   サイドバー
-------------------------------------- */
.sidebar {
   width:330px;
   float:left;
   padding-left:0px;
   margin-top:20px;
}
/*   サイドバー見出し   */
.sidebar h2,h3,h4{
   padding:0 0 0 5px;
   font-size:15px;
   font-weight:100;
   font-family:"meiryo","メイリオ","ＭＳ Ｐゴシック",sans-serif;
}
/*   人気記事    
--------------------------------------- */
.popular-post ul li a {
height:2.6em;
   font-size:0.8em;
   color:#555555; 
   background-color: #ffffff;
   display:block;
   padding:10px;
 border-bottom:10px solid #ffffff;
   transition:0.4s;
font-family:"meiryo","メイリオ","ＭＳ Ｐゴシック",sans-serif; 
overflow: hidden;
text-overflow: ellipsis;

 outline:1px solid #dadada;
}
.popular-post a:hover{
   color:#ff3300;
transition: 0.4s;
}
.popular-post ul li{
   border-bottom:1px dashed #fff;
   list-style-type:none;

}
.popular-post ul{
   padding:0;
}
.popular-post .item-thumbnail img{
   background:#fff;
   height:70px; width:70px;
   border:1px solid #fff;
   padding:3px;
   box-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
}
.sidebar  a:hover img{
   opacity:0.7;transition: 0.3s;
}
.item-thumbnail{
   float:left;
   margin: 0 10px 10px 0;
}
/*   月別アーカイブ 
--------------------------------------- */  
.archive-list ul{
   padding:0 0 20px 10px;
   list-style-type:none;
   line-height:18px;
}
.archive-list ul a{
   color:#2098a8;
}
.archive-list ul li{
   padding-bottom:7px;
}
/*   ラベル
-------------------------------------------- */  
.list-label-widget-content ul li {

   margin-top:5px;
display: inline-block;
}
.list-label-widget-content ul li a {
   font-size: 14px;
   padding:5px;
   color:#2098a8;
   background-color: #ffffff;
   transition: 0.4s;  /* 徐々に変化させる */
 outline:1px solid #dadada;
}
.list-label-widget-content ul{
   list-style-type: none;
   padding:0 0 0 10px;
}
.list-label-widget-content ul li{
   padding-bottom:7px;
}
#Label1 a:hover{
   color:#ff3300;
transition: 0.4s;
}

/*   フッター 
----------------------------------------------- */     
.footer-outer{
   color:#999;
   width:100%;
   clear:both;
   font-size:14px;
   padding-top:40px;
   padding-bottom:0px;
}
.footer-outer a{
   color:#999;
}


/*  コメント
----------------------------------------------- */
.comments{
max-width:100%;
}
.comments .comments-content .icon.blog-author {
   background-repeat: no-repeat;
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB9sLFwMeCjjhcOMAAAD+SURBVDjLtZSvTgNBEIe/WRRnm3U8RC1neQdsm1zSBIU9VVF1FkUguQQsD9ITmD7ECZIJSE4OZo9stoVjC/zc7ky+zH9hXwVwDpTAWWLrgS3QAe8AZgaAJI5zYAmc8r0G4AHYHQKVwII8PZrZFsBFkeRCABYiMh9BRUhnSkPTNCtVXYXURi1FpBDgArj8QU1eVXUzfnjv7yP7kwu1mYrkWlU33vs1QNu2qU8pwN0UpKoqokjWwCztrMuBhEhmh8bD5UDqur75asbcX0BGUB9/HAMB+r32hznJgXy2v0sGLBcyAJ1EK3LFcbo1s91JeLwAbwGYu7TP/3ZGfnXYPgAVNngtqatUNgAAAABJRU5ErkJggg==);
}
.avatar-image-container {
   width: 40px !important;
}
.comment-block{
   margin-top:5px;
   margin-left:10px;
   margin-bottom:10px;
}
.comment-content {
   font-size: 14px;
   margin: 10px 0 30px;
   padding: 5px 5px 10px 10px;
}
.comment-header a {
   color: #333;
   font-size: 15px;
   font-weight: bold;
}
cite.blog-author{
   margin-right:20px;
}
.comment-replies{
   background-color:#fff;
   padding:5px;
   margin-bottom:10px;
}
.thread-count{
   display:none;
}
.continue a {  
   display:none;
}
.icon.blog-author {
   display: none;
}
.loadmore{
display:none;
}
/*   SNSボタン 
------------------------------------------- */ 
div.sns {
   padding-top:20px;
   padding-bottom:20px;
}
ul.snsb {
   list-style-type:none;
   overflow: hidden;
   padding:0;
}
ul.snsb li {
   float: left;
   margin-right:5px;
}
ul.snsb iframe {
   margin: 0 !important;
}


.follow-btn	a{
width:calc((100% * 1/3) );width:-webkit-calc((100%* 1/3) );
	display:block;
	background:#55acee;
	padding:10px 0px;
	text-align:center;
   transition: 0.4s; 
	color:#fff;
	text-decoration:none;
float:left;
}
.follow-btn a:hover {
   color:blue;
transition: 0.4s;
}

.follow-RSS	a{
width:calc((100% * 1/3) );width:-webkit-calc((100%* 1/3) );
	display:block;
	background:#FF9100;
	padding:10px 0px;
	text-align:center;
   transition: 0.4s; 
	color:#fff;
	text-decoration:none;
float:left;
}
.follow-RSS a:hover {
   color:red;
transition: 0.4s;
}

.follow-feedly	a{
width:calc((100% * 1/3) );width:-webkit-calc((100%* 1/3) );
	display:block;
	background:#87bf31;
	padding:10px 0px;
	text-align:center;
   transition: 0.4s; 
	color:#fff;
	text-decoration:none;
float:left;
}
.follow-feedly a:hover {
   color:green;
transition: 0.4s;
}
/*   配信先デザイン
--------------------------------------------------- */  
.haisinsaki {
 background-color:rgba(235,33,66,0.6);
 color:#ffffff;
 display:block;
 padding:5px;
font-weight: bold;
 width:15em;
}
.namahaisinsaki {
 background-color:rgba(0,100,255,0.6);
 color:#ffffff;
 display:block;
 padding:5px;
font-weight: bold;
 width:15em;
}
.animehaisin a {

 display         : block;
 font-size       : 1em;
font-weight: bold;
 line-height     : 150%;
 overflow        : hidden;
 text-align      : left;
 text-decoration : none;
 border-bottom:1px solid #ffffff;

 background      : rgba(235,33,66,0.3);
 color           : rgba(235,33,66,1);
 padding:5px;
}
.animehaisin a:hover {
 background-color:rgba(235,33,66,0.4);
 color           : rgba(150,15,30,1);
}
.namahaisin a {
font-weight: bold;
 display         : block;
 font-size       : 1em;
 line-height     : 150%;
 overflow        : hidden;
 text-align      : left;
 text-decoration : none;
 border-bottom:1px solid #ffffff;

 background      : rgba(0,100,255,0.3);
 color           : rgba(0,100,255,1);
 padding:5px;
}
.namahaisin a:hover {
 background-color:rgba(0,100,255,0.4);
 color           : rgba(0,50,150,1);
}
.kyuhaisinsaki {
 background-color:rgba(0,204,153,0.7);
 color:#ffffff;
 display:block;
 padding:5px;
font-weight: bold;
 width:15em;
}
.kyuanime a {
font-weight: bold;
 display         : block;
 font-size       : 1em;
 line-height     : 150%;
 overflow        : hidden;
 text-align      : left;
 text-decoration : none;
 border-bottom:1px solid #ffffff;

 background      : rgba(0,204,153,0.3);
 color           : rgba(0,150,50,1);
 padding:5px;
}
.kyuanime a:hover {
 background-color:rgba(0,204,153,0.4);
 color           : rgba(0,100,50,1);
}
/*   ページ内50音ボタン
--------------------------------------------------- */  
.page50on { margin: 0px;position:relative;}
.page50on a {
 background-color:rgba(0,100,255,0.7);
 border-top:5px solid RGBa(255,255,255,1);
 box-shadow:0 0 0 5px rgba(0,100,255,0.7) inset;
 color:#ffffff;
 float:left;
 font-size:1.3em;
 height:100%;
 outline:1px solid #fff;
 padding:15px 0px;
 text-align:center;
 text-decoration:none;
 transition:0.5s;
 width:-webkit-calc((99.99% * 1/11) );
 width:calc((99.99% * 1/11) );
}
.page50on a:hover {
 box-shadow:0 0 0 50px rgba(0,100,255,0.7) inset;
}
/*   上に戻るボタン
--------------------------------------------------- */  
#page-top {
 bottom:-25px;
 font-size:30px;
 line-height:130%;
 position:fixed;
 right:5px;
 z-index:10;
}
#page-top a {
 background-color:rgba(0,100,255,1);
 color:#fff;
 display:block;
 padding:10px;
 text-align:center;
 text-decoration:none;
 transition:0.5s;
 width:38px;
 border-radius:10em;
}
#page-top a:hover {
 background-color:#ff3300;
}
/*   曜日タブ切り替え
--------------------------------------------------- */  
#tab {
 float:left;
 list-style:none;
 margin:0px;
 padding:0px;
 text-align:center;

}
#tab li {
 background-color:rgba(0,100,255,0.7);
 border-top:5px solid RGBa(255,255,255,1);
 box-shadow:0 0 0 5px rgba(0,100,255,0.7) inset;
 color:#ffffff;
 float:left;
 font-size:1.3em;

 outline:1px solid #fff;
 padding:10px 12px;
 text-align:center;
 text-decoration:none;
 transition:0.5s;


}
#tab li.select {
 box-shadow:0 0 0 50px #F27398 inset;
}
#tab li:hover {
 background-color:#3FA1F7;
 background:RGBa(235,33,66,0.8);
 color:#fff;
 text-decoration:none;
}
.content_wrap {
 margin:0px;
 padding:0px;

}
.youbitop {

 font-size:0.8em;

}
.youbitop a{
display: inline-block;


}
.content_wrap li {
 clear:both;
 list-style:none;
 margin:0px -40px 0px -40px;
 padding:20px 0px 0px 0px;
}
.disnon {
 display:none;
}
/*   ページ内50音と曜日別ボタン
--------------------------------------------------- */  
.youbi50tab {
 margin:0px;
 position:relative;
}
.youbi50tab a {
 background-color:rgba(255,117,0,0.7);
 border-top:5px solid RGBa(255,255,255,1);
 box-shadow:0 0 0 5px rgba(255,117,0,0.7) inset;
 color:#ffffff;
 float:left;
 font-size:1.3em;
 height:100%;
 outline:1px solid #fff;
 padding:15px 0px;
 text-align:center;
 text-decoration:none;
 transition:0.5s;
 width:-webkit-calc((99.99% * 1/2) );
 width:calc((99.99% * 1/2) );
}
.youbi50tab a:hover {
 box-shadow:0 0 0 50px rgba(255,117,0,0.7) inset;
}
/*  アマゾン
--------------------------------------------------- */ 
.amamabanner { height: 160px; width: auto;display: inline-block;float:left;}
#amazon2015aki a{
position: relative;
display: block;
text-decoration: none;
}
#amazon2015aki img{
margin: 0px;
padding: 0px;
height: 160px;
float:left;
}
#amazon2015aki img:hover{
 opacity: 0.6; transition: 0.5s;
}

#amazonranking-anime img{
display: inline-block;
margin: 0px;
padding: 0px;

}
/*  アマゾン記事下
--------------------------------------------------- */ 
.AmazonWrapper {
height: 160px;
width: 100%;
overflow: hidden; 
}
.Amazonimg {
overflow: hidden; 
width: 160px;
display: block;
float:left;
 padding-right: 5px;
}
.AmazonTitle {
font-size:0.8em;
height: 4em;
overflow: hidden; 
}
.AmazonAuthor {
font-size:0.8em;

}
.AmazonPrice {
font-size:0.8em;

}
/*  アマゾン記事中
--------------------------------------------------- */ 
.AmazonWrapper1 {

width: 100%;
overflow: hidden; 
}
.Amazonimg1 {
overflow: hidden; 
width:calc((100%* 1/3) );width:-webkit-calc((100%* 1/3) );
display: block;
float:left;
 padding-right: 5px;


}
.Amazonimg1 img{


}
.AmazonTitle1 {
font-size:1em;

}
.AmazonAuthor1 {
font-size:0.8em;

}
.AmazonNaiyo1 {
font-size:0.8em;
height: 10em;
overflow: hidden; 
}

.AmazonPrice1 {
font-size:0.8em;

}
.Amazonlogo {
font-size:1.3em;
text-align: center;
}
/*  アマゾン記事中2
--------------------------------------------------- */ 
.AmazonWrapper2 {
height: auto;
width: 100%;
overflow: hidden; 
}
.Amazonimg2 {

height: auto;
width: 200px;

float:left;
 margin-right: 5px;
 border-right:10px solid #fff;
}
.AmazonTitle2 {
font-size:1.2em;
overflow: hidden; 
font-weight:bold;
}
.AmazonAuthor2 {
font-size:0.8em;
   line-height:1.5em;
}
.AmazonPrice2 {
font-size:1em;
   line-height:1.5em;
}
.AmazonArasuji2 {
font-size:0.8em;
   line-height:1.5em;
overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;text-overflow: ellipsis;height: 4.5em;
}
.AmazonYomu2 {

text-align:center;
 margin-top: 10px;

}
.AmazonYomu2 a{
font-size:1em;
text-align:center;
 background-color:rgba(0 , 100 , 255 , 0.7);
 color:#fff;
border-radius:2px;
padding: 5px 10px 5px 10px;
display: inline-block;
}
/*   youtube最大化
--------------------------------------------------- */ 
.YoutubeWrapper { position: relative; margin-top: 0; margin-bottom: 5px; padding-top: 69px; padding-bottom: 50%; overflow: hidden;}
.YoutubeWrapper iframe { position: absolute; top: 0; left: 0; height: 100%; width: 100%;}
/*   Amazonranking
--------------------------------------------------- */ 
.amaran  {
 background-color:#fff;

 outline:1px solid #dadada;
 border:5px solid #fff;
}
#amazonranking-anime img{padding-right: 5px;width: 100px; float: left;}
.amaran{ margin-bottom: 10px;height:125px;overflow: hidden; }
.amarantitle { height:125px;font-size:0.8em; overflow: hidden; text-overflow: ellipsis;}
#amazonranking-anime a{
   color:#555555;
width: auto;
height:125px;

}
#amazonranking-anime a:hover{
   color:#ff3300;
transition: 0.4s;
}
#amazonranking11 {
width: 100%;

}


#amazonranking-lightnovel {
height:186px;width:-webkit-calc((100% - 200px) );overflow: hidden;float: right;
width: -moz-calc((100% - 200px) );
    margin-top: -35px;
    margin-right: 0px;
}
/*   モバイルメニュー
--------------------------------------------- */
.tabmenu{
    margin-left: 0px;
    width: 100%;}
 
.tab{
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;}
 
.tab li{
font-weight: bold;
font-size:3em;
    color: #ff5656;
    background: #fff;
    cursor: pointer;
    display: inline-block;
    width: auto;
    padding: 0em;}

.tab li.select{
    color: rgba(255,117,0,0.7);
}
 
.content div{
    background: #fd9;
    height: auto;
    padding:0px;}
.hide { display: none;}


.menu1m a {width:calc((100% * 1/1) );width:-webkit-calc((100% * 1/1) ); padding: 15px 0px;padding-left: 27px;  background-color: rgba(0,100,255,0.7); color: #ffffff; text-align: left; font-size: 1em; text-decoration: none; transition: 0.5s;outline: 1px solid #fff; height:100%;float:left;}
.menu1m a:hover { text-decoration: none; background-color: rgba(0,100,255,1);}


.menu2m a {width:calc((100% * 1/1) );width:-webkit-calc((100% * 1/1) ); padding: 15px 0px;padding-left: 27px; background-color: rgba(255,117,0,0.7); color: #ffffff; text-align: left; font-size: 1em; text-decoration: none; transition: 0.5s;outline: 1px solid #fff; height:100%;float:left;}
.menu2m a:hover { text-decoration: none; background-color: rgba(255,117,0,1);}


.menu3m a {width:calc((100% * 1/1) );width:-webkit-calc((100% * 1/1) ); padding: 15px 0px;padding-left: 27px; background-color: rgba(255,51,102,0.7); color: #ffffff; text-align: left; font-size: 1em; text-decoration: none; transition: 0.5s;outline: 1px solid #fff; height:100%;float:left;}
.menu3m a:hover { text-decoration: none; background-color: rgba(255,51,102,1);}


.menu4m a {width:calc((100% * 1/1) );width:-webkit-calc((100% * 1/1) ); padding: 15px 0px;padding-left: 27px; background-color: rgba(0,204,153,0.7); color: #ffffff; text-align: left; font-size: 1em; text-decoration: none; transition: 0.5s;outline: 1px solid #fff; height:100%;float:left;}
.menu4m a:hover { text-decoration: none; background-color: rgba(0,204,153,1);}
/*   ブログタイトル背景など
--------------------------------------------------- */  
.titlecenter {height: 141px; text-align: center; margin-top:10px;margin-bottom:10px;}
.amamabanner {height: 100px;  float:right;margin-right:15px;}
.titlecenter img{ margin-top:25px;    float:left;}
.mtitle{ height:78px;}
.titleback { background: #FFFFFF; margin: 0 -500%; padding: 0px 500%; height: auto;padding-top: 15px; }
html {
    overflow: auto;
}
body {
    overflow: hidden;
    position: relative;
}
/*   アプリ
--------------------------------------------------- */  
#appreach-box {
text-align:center!important;
outline: 1px solid rgba(0,100,255,0.7);;
}
#appreach-image {
width:50%!important; max-width:none!important;
float:none!important;
border-radius:0!important;
margin-bottom:-10px!important;
}
#appreach-appname{
margin-bottom:-10px;
}
.appreach-links{
float: none!important;
}
/*   メインメニュー
--------------------------------------------------- */  

.mainmenu {
width:995px;

}
.mainmenuyokoipai {  margin: 0 -500%; padding: 0px 500%; height: 52px; 


}
.footerback {  margin: 0 -500%; padding: 0px 500%; height:auto; 
color:#fff;
background-color: #888;
}
.footerback2 {  margin: 0 -500%; padding: 0px 500%; height:auto; 
color:#fff;
background-color: #777;
}

.footerback2 a{color:#fff;}
.menu1 a {width:calc((99.99% * 1/7) );width:-webkit-calc((99.99%* 1/7) ); padding: 15px 0px; background-color: #fff; color: #fff; text-align: center; font-size: 1em; text-decoration: none; transition: 0.5s; height:100%;float:left; box-shadow: 0 0 0 30px rgba(0,100,255,0.7) inset;}
.menu1 a:hover {box-shadow: 0 0 0 30px rgba(0,100,255,1) inset;}


.menu2 a {width:calc((99.99%* 1/7) );width:-webkit-calc((99.99% * 1/7) ); padding: 15px 0px; background-color:  #fff; color: #fff; text-align: center; font-size: 1em; text-decoration: none; transition: 0.5s; height:100%;float:left; box-shadow: 0 0 0 30px rgba(255,117,0,0.7) inset;}
.menu2 a:hover {box-shadow: 0 0 0 30px rgba(255,117,0,1) inset;}


.menu3 a {width:calc((99.99%* 1/7) );width:-webkit-calc((99.99%* 1/7) ); padding: 15px 0px; background-color:  #fff; color: #fff; text-align: center; font-size: 1em; text-decoration: none; transition: 0.5s; height:100%;float:left;box-shadow: 0 0 0 30px rgba(255,51,102,0.7) inset;}
.menu3 a:hover {box-shadow: 0 0 0 30px rgba(255,51,102,1) inset;}


.menu4 a {width:calc((99.99%* 1/7) );width:-webkit-calc((99.99% * 1/7) ); padding: 15px 0px; background-color:  #fff; color: #fff; text-align: center; font-size: 1em; text-decoration: none; transition: 0.5s; height:100%;float:left; box-shadow: 0 0 0 30px rgba(0,204,153,0.7) inset;}
.menu4 a:hover {box-shadow: 0 0 0 30px rgba(0,204,153,1) inset;}
/*   新着記事
--------------------------------------------------- */ 

#headlineside .outer {border-left:5px solid #fff; border-top:5px solid #fff;border-bottom:5px solid #fff;margin-bottom:10px; overflow: hidden;  height: 100px; background-color: #fff;list-style: none; outline:1px solid #dadada;position:relative;  width:-webkit-calc((100% - 5px) );}

#headlineside .outer {border-left:5px solid #fff; border-top:5px solid #fff;border-bottom:5px solid #fff;margin-bottom:10px; overflow: hidden;  height: 100px; background-color: #fff;list-style: none; outline:1px solid #dadada;position:relative;  width:-webkit-calc((100% - 5px) );}
#headlineside .outer p.title { transition: 0.5s;overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;text-overflow: ellipsis;height: 4em;padding-left:5px; 
}
#headlineside .outer .title a {font-size: 0.8em;  color:#555555;}
#headlineside .outer .title a:hover {color:#ff3300;}
#headlineside .inner img {

width:100px;
   height:auto;
float:left;
position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
overflow: hidden;
}
#headlineside .inner{
   float:left;

overflow: hidden;
position: relative;
width:100px;
   height:100px;
background-color:rgba(0,100,255,0.1);
}




#headlinesidepick .outer {border-left:5px solid #fff; border-top:5px solid #fff;border-bottom:5px solid #fff;margin-bottom:10px; overflow: hidden;  height: 100px; background-color: #fff;list-style: none; outline:1px solid #dadada;position:relative;  width:-webkit-calc((100% - 5px) );}

#headlinesidepick .outer {border-left:5px solid #fff; border-top:5px solid #fff;border-bottom:5px solid #fff;margin-bottom:10px; overflow: hidden;  height: 100px; background-color: #fff;list-style: none; outline:1px solid #dadada;position:relative;  width:-webkit-calc((100% - 5px) );}
#headlinesidepick .outer p.title { transition: 0.5s;overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;text-overflow: ellipsis;height: 4em;padding-left:5px; 
}
#headlinesidepick .outer .title a {font-size: 0.8em;  color:#555555;}
#headlinesidepick .outer .title a:hover {color:#ff3300;}
#headlinesidepick .inner img {

width:100px;
   height:auto;
float:left;
position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
overflow: hidden;
}
#headlinesidepick .inner{
   float:left;

overflow: hidden;
position: relative;
width:100px;
   height:100px;
background-color:rgba(0,100,255,0.1);
}




#headlinesidepick2 .outer {border-left:5px solid #fff; border-top:5px solid #fff;border-bottom:5px solid #fff;margin-bottom:10px; overflow: hidden;  height: 100px; background-color: #fff;list-style: none; outline:1px solid #dadada;position:relative;  width:-webkit-calc((100% - 5px) );}
#headlinesidepick2 .outer p.title { transition: 0.5s;overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;text-overflow: ellipsis;height: 4em;padding-left:5px; 
}

#headlinesidepick2 .outer .title a {font-size: 0.8em;  color:#555555;}
#headlinesidepick2 .outer .title a:hover {color:#ff3300;}
#headlinesidepick2 .inner img {

width:100px;
   height:auto;
float:left;
position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
overflow: hidden;
}
#headlinesidepick2 .inner{
   float:left;

overflow: hidden;
position: relative;
width:100px;
   height:100px;
background-color:rgba(0,100,255,0.1);
}

/*   ゆっくりメニュー
--------------------------------------------------- */ 
label {

font-size: 2em;
    background: #fff;
    color: rgba(0,100,255,1);
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    display: block;
    margin: 0;
    border-bottom: 1px solid #fff;
}

input[type="checkbox"].on-off{
    display: none;
}

.menu ul {

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    padding: 0px;

}

input[type="checkbox"].on-off + ul{
    height: 0;
    overflow: hidden;
}

input[type="checkbox"].on-off:checked + ul{
    height: 350px;
}
/*   レスポンシブデザイン
--------------------------------------------------- */    
.responsive-unit{
  max-width: 336px;
   text-align:center;
} 
@media screen and (max-width: 1010px){
.body{
   width:auto;
}
.mainmenu{
   width:auto;
}

.article-list-title{

line-height: 130%;


}
.article-list-title a{

 height             : 100px;

}
.titleback { display: block;}
.content-wrapper{
   width:auto;

}
.header{
   width:auto;

}
.header-outer{
   width:auto;

}
.main-outer{
 width : -webkit-calc(100% - 345px) ;
   width : calc(100% - 345px) ;
margin-left:15px;
}



.footer-outer{
   width:auto;

}
.amamabanner {margin-right:0px;
}
}
.titleback { display: none;}
@media screen and (max-width: 800px){
.amamabanner {display: none;}
#amazonranking-lightnovel {display: none;}
}

@media screen and (max-width: 800px){
.mainmenuyokoipai{
display: none;
}
#page-top {
display:none !important;
}
.titlecenter {height: 0px; text-align: center;  margin-top:0px;margin-bottom:0px;}
.titlecenter img{ margin-top:42px; text-align: center; float:none;}
.mtitle{ height:55px;}

.titleback { display: block;margin-bottom: -15px; }
.content-wrapper{
   width:auto;
   margin:0 auto;
}
.header{
   width:auto;
   padding:0px;
   margin-top:-40px;
   margin-bottom:10px;
}
.header-outer{
outline: none;
}
.main-outer{
   width:auto;
   margin-right:15px;
   float:none;
}
.pagenavi{
   width:auto;
}


.article-thumbnail{
   text-align:center;
}
.post-box{
   text-align:center;
}
.article-list{
   width:auto;
   float:none;
}
.main-outer h1{
   font-size:20px;
   line-height:22px;
}
#related-posts .related_img{
   width:100px;
   height:100px;
}
img{
   max-width:100%;
   height:auto;
}
.sidebar{
   width:auto;
   float:none;
}
.archive-list ul li{
   padding-bottom:10px;
}
.footer-outer{
   width:auto;
   margin:0;
   bottom:0;
}

/*記事一覧の公開日、カテゴリ名  */

}
@media screen and (max-width: 500px){
.article-list-title a{
   font-size:0.7em;
   color:#333;
 height             : 100px;
    overflow: hidden;
display: block;
}
.article-list-title{

line-height: 125%;


}
.entry-content h2{
   font-size:1em;
}
a.article-label{
   font-size:0.75em;
   color:#136889;
   float:left;
   margin-left:3px;
  line-height: 100%;
}

}




@media screen and (max-width: 550px){
.AmazonWrapper2 {
height: auto;
width: 100%;
overflow: hidden; 
}
.Amazonimg2 {

height: auto;
width: 180px;

float:left;
 margin-right: 5px;
 border-right:10px solid #fff;
}
.AmazonTitle2 {
font-size:1em;
overflow: hidden; 
font-weight:bold;
   line-height:1.3em;
}
.AmazonAuthor2 {
font-size:1em;

}
.AmazonPrice2 {
font-size:0.8em;
   line-height:1.3em;
}
.AmazonArasuji2 {
font-size:0.8em;
   line-height:1.5em;
overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;text-overflow: ellipsis;height: 4.5em;
}
.AmazonYomu2 {

text-align:center;
 margin-top: 5px;

}
.AmazonYomu2 a{
font-size:0.8em;
text-align:center;
 background-color:rgba(0 , 100 , 255 , 0.7);
 color:#fff;
border-radius:2px;
padding: 3px 7px 3px 7px;
display: inline-block;
}
}
@media screen and (max-width: 500px){
.Amazonimg2 {

height: auto;
width: 150px;
}
}
@media screen and (max-width: 399px){
.AmazonWrapper2 {
height: auto;
width: 100%;
overflow: hidden; 
}

.Amazonimg2 {
 display: block;
 margin-left: auto;
 margin-right: auto;
height: auto;
width: 180px;

float:none;

 border-right:0px solid #fff;
}
.AmazonTitle2 {
font-size:1em;
overflow: hidden; 
font-weight:bold;
   line-height:1.3em;
}
.AmazonAuthor2 {
font-size:1em;

}
.AmazonPrice2 {
font-size:0.8em;
   line-height:1.3em;
}
.AmazonArasuji2 {
font-size:0.8em;
   line-height:1.5em;
overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;text-overflow: ellipsis;height: 4.5em;
}
.AmazonYomu2 {

text-align:center;
 margin-top: 2px;

}
.AmazonYomu2 a{
font-size:0.8em;
text-align:center;
 background-color:rgba(0 , 100 , 255 , 0.7);
 color:#fff;
border-radius:2px;
padding: 3px 15% 3px 15%;
display: inline-block;
}
#tab li {

 padding:7px 9px;
}
}
/*   SNSボタン
--------------------------------------------------- */   

#share {
    padding: 10px;
}

.share {
    overflow: hidden;
}

.share li {
    font-size: 2em;
    float: left;
    text-align: center;
width:calc((100% * 1/5) );width:-webkit-calc((100%* 1/5) );
    list-style: none;
    cursor: pointer;
}

.share a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.share .btn-text {
    position: relative;
}

.share .share-twitter {
    background-color: #55acee;

}
.share .share-twitter:hover {
    background-color: #83c3f3;
}

.share .share-facebook {
    background-color: #3b5998;

}
.share .share-facebook:hover {
    background-color: #4c70ba;
}

.share .share-google {
    background-color: #dd4b39;

}
.share .share-google:hover {
    background-color: #e47365;
}

.share .share-hatena {
    background-color: #2c6ebd;

}
.share .share-hatena:hover {
    background-color: #4888d4;
}

.share .share-pocket {
    background-color: #ee4056;

}
.share .share-pocket:hover {
    background-color: #f26f7f;
}

.fa-hatena:before {
    content: "B!";
    font-family: "Verdana";
    font-weight: bold;
}

.share-twitter2 a{
    padding: 5px 0;
    background-color: #55acee;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    float: left;
    text-align: center;
width:calc((100% * 1/5) );width:-webkit-calc((100%* 1/5) );
    list-style: none;
    cursor: pointer;
}
.share-twitter2 a:hover {
    background-color: #83c3f3;
    color: #fff;
}

.share-facebook2 a{
    padding: 5px 0;
    background-color: #3b5998;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    float: left;
    text-align: center;
width:calc((100% * 1/5) );width:-webkit-calc((100%* 1/5) );
    list-style: none;
    cursor: pointer;
}

.share-facebook2 a:hover {
    background-color: #4c70ba;
    color: #fff;
}

.share-google2 a{
    padding: 5px 0;
    background-color: #dd4b39;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    float: left;
    text-align: center;
width:calc((100% * 1/5) );width:-webkit-calc((100%* 1/5) );
    list-style: none;
    cursor: pointer;
}
.share-google2 a:hover {
    background-color: #e47365;
    color: #fff;
}

.share-hatena2 a{
    padding: 5px 0;
    background-color: #2c6ebd;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    float: left;
    text-align: center;
width:calc((100% * 1/5) );width:-webkit-calc((100%* 1/5) );
    list-style: none;
    cursor: pointer;
}
.share-hatena2 a:hover {
    background-color: #4888d4;
    color: #fff;
}

.share-pocket2 a{
    padding: 5px 0;
    background-color: #ee4056;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    float: left;
    text-align: center;
width:calc((100% * 1/5) );width:-webkit-calc((100%* 1/5) );
    list-style: none;
    cursor: pointer;
}
.share-pocket2 a:hover {
    background-color: #f26f7f;
    color: #fff;
}